services:
  frontend:
    container_name: antiplag-frontend
    build:
      context: .
      dockerfile: Frontend/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - gateway-api

  gateway-api:
    container_name: antiplag-gateway
    build:
      context: .
      dockerfile: Gateway/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Microservices__StorageUrl=http://filestorage-api:8080
      - Microservices__AnalysisUrl=http://fileanalysis-api:8080
    ports:
      - "5000:8080" # API http://localhost:5000
    depends_on:
      - filestorage-api
      - fileanalysis-api

  filestorage-api:
    container_name: antiplag-filestorage
    build:
      context: .
      dockerfile: FileStorage/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "5001:8080"

  fileanalysis-api:
    container_name: antiplag-fileanalysis
    build:
      context: .
      dockerfile: FileAnalysis/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "5002:8080"